.menu_inline{
    text-align: center;
    list-style: none;
}

.li_inline{
    display: inline;
}

body{
    max-width: 800px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-align: center;
    background-color: rgb(202, 211, 203);
    border: solid 3px;
}

.header{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.main_photo{
    padding: 0;
    width: 300px;
    height: 230px;
    margin: 0;
    padding: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my_name{
    padding: 50px;
    width: 500px;
    height: 230px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.footer{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

ul{
    text-align: center;
}

